<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block stylesheets %}
        <!-- Bootstrap 4 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

        <!-- Other -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
</head>
<body>

{% block header %}
    {{ include('default/header.html.twig') }}
{% endblock %}

<main class="container">

    <div class="row rounded posts">

        <div class="col ">

            {% block name_for_posts %}{% endblock %}
            {% block body %}{% endblock %}
            {% block paginator %}{% endblock %}

        </div>

        {% block sidebar %}
            <div class="col-3 bg-light">
                {{ include('default/sidebar.html.twig') }}
            </div>
        {% endblock %}

    </div>

</main>

<!-- Bootstrap 4 -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- List.js -->
<script type="application/javascript" src="{{ asset('js/list.js') }}"></script>
<script type="application/javascript">
    var searchBtn = $('#search');
    var searchInput = $('#search-input');
    var searchGroup = $('#search-group');
    var searchList = $('#search-list');
    searchBtn.on({
        click: function (e) {
            e.preventDefault(e);
            searchBtn.toggleClass('btn-success');
            searchInput.toggleClass('d-none');
        }
    });
    searchGroup.on({
        mouseleave: function () {
            searchBtn.removeClass('btn-success');
            searchInput.addClass('d-none');
            searchList.addClass('d-none');
        }
    });
    searchInput.on({
        focus: function () {
            searchList.removeClass('d-none');
        },
        keyup: function () {
            console.log(searchList);
            if (searchList.hasClass('d-none')) {
                searchList.removeClass('d-none');
                searchList.css('display', 'block')
            }
        }
    });

    new List('search-group', {
        valueNames: ['name']
    });
</script>

{% block javascripts %}{% endblock %}

</body>
</html>