{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row pt-4">
            <h2 class="text-verona text-center col-12">Контакты</h2>
        </div>
        <hr>

        <div class="row justify-content-center mb-5">
            {% if contact %}
            <div class="col-6 text-center">
                <h3 class="text-verona text-center col-12 mb-5">Наши контакты</h3>

                <h4 class="my-3"><u>Телефоны:</u></h4>
                <p class="font-weight-bold">{{ contact.phone }}</p>

                <h4 class="my-3"><u>E-mail:</u></h4>
                <p class="font-weight-bold">{{ contact.email }}</p>
            </div>
            {% endif %}
            <div class="col-6">
                <h3 class="text-verona text-center col-12 mb-5">Оставьте заявку</h3>
                <form class="text-verona text-center">
                    <div class="form-group">
                        <label for="nameInput" class="font-weight-bold">Ваше имя:</label>
                        <input type="text" name="name" class="form-control mx-auto col-12 col-lg-6 text-center" id="nameInput" aria-describedby="nameHelp" placeholder="" required>
                        <small id="nameHelp" class="form-text text-muted">Мы не используем Ваши данные для передачи третьим лицам</small>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="font-weight-bold">Ваш номер телефона:</label>
                        <input type="tel" name="phone" class="form-control mx-auto col-12 col-lg-6 text-center" id="phone" placeholder="+996 (700) 700 - 700" required pattern="\\+996 \\([0-9]{3}\\) [0-9]{3} \\- [0-9]{3}">
                    </div>
                    <button type="submit" class="btn btn-primary" id="proposal_submit">Оставить заявку!</button>
                </form>
            </div>
        </div>

    </div>

    {{ include(':default:map.html.twig') }}

    <!-- Modal -->
    <div class="modal fade" id="modal-success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0" style="background: linear-gradient(45deg, #543093 32%, #d960ae 100%);">
                <div class="modal-body text-light">
                    <div class="row justify-content-end">
                        <button type="button" class="close mr-4" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color:#fff;">&times;</span>
                        </button>
                    </div>
                    <div class="row pt-3 justify-content-center">
                        <span class="h3">Success!</span>
                    </div>
                    <div class="row my-3 justify-content-center">
                        <p>That thing that you were trying to do worked.</p>
                    </div>
                    <div class="row pb-3 justify-content-center">
                        <svg width="150" height="150" viewBox="0 0 510 510" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill="#fff" d="M150.45,206.55l-35.7,35.7L229.5,357l255-255l-35.7-35.7L229.5,285.6L150.45,206.55z M459,255c0,112.2-91.8,204-204,204 S51,367.2,51,255S142.8,51,255,51c20.4,0,38.25,2.55,56.1,7.65l40.801-40.8C321.3,7.65,288.15,0,255,0C114.75,0,0,114.75,0,255 s114.75,255,255,255s255-114.75,255-255H459z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="application/javascript">
        $('#proposal_submit').click(function (e) {
            e.preventDefault(e);

            var phone = $('#phone').val();
            var name = $('#nameInput').val();

            var data = {
                'name': name,
                'phone': phone
            };

            if (!phone || !name) {
                data = null;
            }

            $.ajax({
                url: '/proposal',
                type: 'POST',
                data: data,
                dataType: 'JSON',
                success: function (data) {
                    console.log(data.status);
                    if (data.status === 'success') {
                        $('#modal-success').modal();
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
    </script>

    <script>
        /**
         * charCode [48,57] 	Numbers 0 to 9
         * keyCode 46  			"delete"
         * keyCode 9  			"tab"
         * keyCode 13  			"enter"
         * keyCode 116 			"F5"
         * keyCode 8  			"backscape"
         * keyCode 37,38,39,40	Arrows
         * keyCode 10			(LF)
         */
        function validate_int(myEvento) {
            if ((myEvento.charCode >= 48 && myEvento.charCode <= 57) || myEvento.keyCode == 9 || myEvento.keyCode == 10 || myEvento.keyCode == 13 || myEvento.keyCode == 8 || myEvento.keyCode == 116 || myEvento.keyCode == 46 || (myEvento.keyCode <= 40 && myEvento.keyCode >= 37)) {
                dato = true;
            } else {
                dato = false;
            }
            return dato;
        }

        function phone_number_mask() {
            var myMask = "+___ (___) ___ - ___";
            var myCaja = document.getElementById("phone");
            var myText = "";
            var myNumbers = [];
            var myOutPut = ""
            var theLastPos = 1;
            myText = myCaja.value;
            //get numbers
            for (var i = 0; i < myText.length; i++) {
                if (!isNaN(myText.charAt(i)) && myText.charAt(i) != " ") {
                    myNumbers.push(myText.charAt(i));
                }
            }
            //write over mask
            for (var j = 0; j < myMask.length; j++) {
                if (myMask.charAt(j) == "_") { //replace "_" by a number
                    if (myNumbers.length == 0)
                        myOutPut = myOutPut + myMask.charAt(j);
                    else {
                        myOutPut = myOutPut + myNumbers.shift();
                        theLastPos = j + 1; //set caret position
                    }
                } else {
                    myOutPut = myOutPut + myMask.charAt(j);
                }
            }
            document.getElementById("phone").value = myOutPut;
            document.getElementById("phone").setSelectionRange(theLastPos, theLastPos);
        }

        document.getElementById("phone").onkeypress = validate_int;
        document.getElementById("phone").onkeyup = phone_number_mask;
    </script>

{% endblock %}