<div class="col-12 p-5 header">
    <div class="row justify-content-center pt-5">
        <h1 class="display-3 font-weight-bold" style="color: #ebeaea;">Super Blog</h1>
    </div>
    <div class="row my-2 justify-content-center pb-5">
        <p class="h3"><span style="color: #ebeaea;">From</span> <a href="" class="text-info">Tilek Kubanov</a></p>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="{{ path('categories_index') }}" class="text-light h6">Categories</a>
        </div>
        <div class="col-auto">
            <a href="" class="text-light h6">Tags</a>
        </div>
        <div class="col-auto">
            <a href="" class="text-light h6">About me</a>
        </div>
        <div class="col-auto">
            <a href="" class="text-light h6">Social</a>
        </div>
    </div>
</div>