<div class="col-12 p-5 header">
    <div class="row">
        <a href="{{ path('posts_index') }}">
            <i class="fas fa-2x fa-arrow-circle-left" style="color: #ebeaea;"></i>
        </a>
    </div>
    <div class="row justify-content-center pt-5">
        <h1 class="display-3" style="color: #ebeaea;">Categories</h1>
    </div>
</div>