{#<div class="input-group col-3 row justify-content-end" id="search-group">#}
    {#<input type="text" class="form-control d-none search" placeholder="Search" id="search-input" aria-label="Search" aria-describedby="basic-addon2">#}
    {#<div class="input-group-append">#}
        {#<a href="" class="btn text-light" id="search"><i class="fas fa-search"></i></a>#}
    {#</div>#}
{#</div>#}

<div class="input-group row justify-content-end">
    <input class="col-3 typeahead" type="text" id="search-input" data-provide="typeahead">
    <i class="fas fa-times small" id="search-input-eraser" style="position: absolute;
    top: 13px;
    right: 185px;
    z-index: 9999;
    cursor: pointer;"></i>
    <select class="custom-select col-1" id="selection-of-search">
        <option value="posts">Posts</option>
        <option value="categories">Categories</option>
        <option value="tags">Tags</option>
    </select>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" id="search-button" type="button"><i class="fas fa-search text-light"></i></button>
    </div>
</div>

