body {
    background-color: #ebeaea;
}

.header {
    background-color: #362c37;
    -webkit-box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.75);
}

.posts {
    background-color: #fff;
    color: #615b5b;
}

.post .card {
    background-color: transparent;
}

.blog-all-body {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.tags {
    padding: 4px 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #343a40;
}

.tags a {
    color: #f8f9fa;
}

.tags.active {
    background-color: #f8f9fa!important;
}
.tags.active a {
    color: #343a40!important;
}
