{% extends 'base.html.twig' %}

{% block body %}

    {{ include('@Post/post/list.html.twig') }}

{% endblock %}

{% block paginator %}
    <nav aria-label="Page navigation example" class="col-12">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link bg-dark text-muted" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link bg-dark text-muted" href="#">1</a></li>
            <li class="page-item"><a class="page-link bg-dark text-muted" href="#">2</a></li>
            <li class="page-item"><a class="page-link bg-dark text-muted" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link bg-dark text-muted" href="#">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}
