body {
    background-color: #ebeaea;
}

.header {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-backdrop {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.header.more {
    background-size: cover;
    background-position: center;
}

.posts {
    background-color: #fff;
    color: #615b5b;
    -webkit-box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.75);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.post .card {
    background-color: transparent;
}

.tags {
    padding: 4px 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #343a40;
}

.tags a {
    color: #f8f9fa;
}

.tags.active {
    background-color: /*#f8f9fa!important*/transparent;
}

.tags.active a {
    color: #343a40!important;
}

.bootstrap-tagsinput .tag {
    color: #fff!important;
    margin-right: 2px;
    background-color: #5bc0de;
    padding: .2em .6em .3em;
    border-radius: .25em;
    font-size: 75%;
}

.bootstrap-tagsinput {
    width: 100%;
}

.newText_to_comment {
    cursor: pointer;
    font-size: 85%;
    background-color: #0d6aad;
    color: #fff;
    padding: 0.2em 0.6em 0.3em;
    border-radius: .25em;
}