{{ form_start(form) }}
    {# render the task's only field: description #}
    {{ form_row(form.name) }}

<h3>Posts</h3>
<ul class="tags" data-prototype="{{ form_widget(form.posts.vars.prototype)|e('html_attr') }}"></ul>

{{ form_end(form) }}
