<div class="row mt-4 mb-4">
    <h3 class="h4 col-12 text-center">Tags</h3>
    <div class="col-12 text-center">
        <div class="row justify-content-center">
            {% for tag in tags %}
                <div class="col-auto px-1">
                    <p class="small tags" style="font-size: {{ tag.posts.count > 0 ? (tag.posts|length / bigTag) * (140 - 80) + 80 : '' }}%">
                        <a href="{{ path('tag_show', {'slug': tag.slugname}) }}" class="">{{ tag.name }}</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{#{{ activeTag is defined and tag.id == activeTag.id ? 'active' : '' }}#}